@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@100&display=swap');
.root {
    --primary-color: #093931;
    --header-letter-color: #F5D38E;
    --tipografia-header1: 'Cormorant Garamond', serif;
    --tipografia-header2:'Manrope', sans-serif;
}

.encabezado{
    display: flex;
    background-color:#093931 ;
    font-style: var(--tipografia-header1);
    width: 1260px;
    height: 62px;
    margin: -7.68px;;
    
}

.titulo{
    display: flex;
    color:#F5D38E ;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 30px;
    margin-left: 100px;
    align-items: flex-end;
    width: 95px;
    height: 46px;
    top: 8px;
    left: 132px;
}

.titulo{
    /* Darling. */

position: absolute;
width: 95px;
height: 46px;
left: 30px;
top: 10px;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 46px;
/* identical to box height, or 153% */

color: #F5D38E;


}

.redireccion{
    display: flex;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 630px;
    font-size: 13px;
    align-items: center;

}
.barra:hover{
    cursor: pointer;
    font-weight: 700;
    color: #F5D38E;
    text-decoration: underline 3px;
}
.icono:hover{
    cursor: pointer;
}

.carrito{
    width: 20px;
    height: 20px;
}

.cuerpo{
    width: 1260px;
    height: 821px;
    display: flex;
    font-family: 'Cormorant Garamond', serif;
    color: #F5D38E;
    background-image: url("./asests/background.png");
    background-color: #093931;
    margin: -7.68px;
}

.titulo2{
    padding: 50px;
    width: 537px;
    height: 282px;
    margin: 0;
}