@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');


:root {
    --bg-banner: url("./imagenes/backgroundbanner.png");
    --primary-color: #093931;
    --second-color: #F2C66D;
    --title-color: #F5D38E;
    --padding-left: 8.25rem;
    --font-body: 'Manrope', sans-serif;
    --font-title: 'Cormorant Garamond', serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: var(--bg-banner);
    background-color: var(--primary-color);
    /* padding: 0 var(--padding-left); */
    padding-bottom: 8.69rem;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 0.5rem var(--padding-left);
    align-items: center;
    /* padding: 0.5rem 0; */
}

.header__links {
    list-style: none;
    display: flex;
    /* gap: 2.52rem; */
}

.header__links li {
    padding: 0.65625rem 1.35188rem;
}

.header__links a {
    font-family: var(--font-body);
    color: #FFF;
    text-decoration: none;
    font-size: 0.875rem;
}

.header__links .active a {
    color: var(--second-color);
}

.header__links .active {
    border-bottom: 4px solid var(--second-color);
    border-radius: 0.13rem;
    /* box-shadow: 2px 11px 0px -6px rgba(242, 198, 109, 1); */
}

.header__banner {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap-reverse; */
    gap: 4.5rem;
    padding: 0 var(--padding-left);
    padding-top: 4.81rem;
}

.header__banner section {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__banner section h1 {
    color: var(--title-color);
    font-family: var(--font-title);
    font-size: 4.5rem;
}

.header__banner section button {
    border-radius: 1.625rem;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 0.75rem 3.6875rem;
    background-color: transparent;
    font-family: var(--font-body);
    font-size: 1.125rem;
    margin-top: 1.5rem;
    align-self: flex-start;
    /* background: rgba(0, 0, 0, 0.00) */
}

.header__play {
    position: relative;
    width: 15.0625rem;
    height: 20.0625rem;
    position: absolute;
    top: 25%;
    right: -25%;
}

.modalCart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #05050549;
    /* visibility: hidden; */
}

.hidden {
    display: none;
}

.show {
    display: flex;
    justify-content: flex-end;
}

.modalCart section {
    width: 50%;
    height: 100%;
    background-color: white;
}

.header__video {
    width: 100%;
    object-fit: cover;
}

.header__playbutton {
    position: absolute;
    top: 40%;
    left: 40%;

}

.header__images {
    position: relative;

}

#btnCart {
    cursor: pointer;
}

#btn-mobile {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* width: 50px;
    height: 50px; */

}

#btn-mobile .material-symbols-outlined {
    color: #FFF;
    font-size: 40px;
    font-weight: 300;
    /* width: 100%;
    height: 100%; */
}

@media screen and (max-width: 997px) {

    :root {
        --padding-left: 4.2rem;
    }

    .header__banner {
        flex-direction: column-reverse;
        padding-top: 2rem;
        gap: 2rem;
    }

    .header__banner section h1 {
        text-align: center;
    }

    .header__banner section {
        width: 100%;
    }

    .header__banner section button {
        align-self: auto;
    }

    /* .header__nav, .header__banner{
        padding-left: ;

    } */
}

@media screen and (max-width: 880px) {
    .header__links {
        display: none;
    }

    #btn-mobile {
        display: block;
    }
}

@media screen and (max-width: 627px) {

    :root {
        --padding-left: 2rem;
    }

    html {
        font-size: 12px;
    }

    .header__images {
        /* align-self: flex-start; */
        width: 70%;
    }

    .header__images .header__image {
        width: 100%;
        height: auto;
    }

    /* .header__play{
        right: -10px;
    } */
}





.layout {
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
    margin-top: 2.5rem;
}

.grow1 {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo-iconos {
    color: #171A1F;
    text-align: center;
    font-family: "Cormorant Garamond";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    /* 155.556% */
}

@media only screen and (width <=37.5rem) {
    .layout {
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
        margin-top: 1.5rem;
    }

    .grow1 {
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        text-align: left;
        font-size: 0.5rem;
        line-height: 0.9rem;
    }

    .titulo-iconos {
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 200;
        line-height: 1.75rem;
        /* 155.556% */
    }



}


.featured {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
}

.h2 {
    display: flex;
    color: #0D554A;
    width: 264px;
    height: 112px;
    top: 54px;
    left: 132px;
    font-family: var(--tipografia-header1);
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    margin-left: 60px;
}


.imgenes-list {
    flex-grow: 1;
    align-items: start;
    justify-content: left;
    text-align: left;
}

.h2_text {
    display: flex;
    width: 264px;
    height: 78px;
    top: 178px;
    left: 132px;
    font-family: var(--tipografia-header2);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 60px;
}

.boton2 {
    width: 200px;
    height: 52px;
    top: 280px;
    left: 132px;
    border-radius: 26px;
    background-color: transparent;
    border: 1px solid #0D554A;
    color: #0D554A;
    margin-left: 60px;
}

.boton2:hover {
    cursor: pointer;
    background-color: #F5D38E;
    border: #F5D38E;
    color: #093931;
}

.jewelry {
    display: flex;
    width: 230px;
    height: 280px;
    flex-direction: row;
    margin-top: -300px;
    margin-left: 300px;
}

.jewelryy {
    border-radius: 10px;
}

.jewelryy:hover {
    cursor: pointer;
}

.texxto {
    display: flex;
    width: 180px;
    height: 36px;
    top: 332px;
    left: 12px;
    font-family: var(--tipografia-header1);
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
}

.precio {
    display: inline-flex;
    font-family: var(--tipografia-header2);
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    margin-top: -40px;
}

.collection {
    display: flex;
    font-family: var(--tipografia-header1);
    width: 255px;
    height: 56px;
    top: 48px;
    left: 579px;
    font-weight: 600;
    font-size: 30px;
    line-height: 56px;
    align-items: center;
    margin-left: 510px;
    padding: 40px 20px;
}

.im1 {
    display: flex;
    width: 300px;
    height: 300px;

    left: 540px;
    border-radius: 10px;
    align-items: center;
    margin-left: 80px;
    margin-right: 0px;
    margin-bottom: 20px;
}

.texto1 {
    display: flex;
    font-family: var(--tipografia-header1);
    margin-top: 20px;
    font-size: 22px;
    line-height: 48px;
    margin-bottom: -70px;
    margin-left: 150px;
    color: white;

}

.im2 {
    display: flex;
    width: 300px;
    height: 300px;
    top: 150px;
    left: 540px;
    border-radius: 10px;
    align-items: center;
    margin-top: -340px;
    margin-left: 443px;
    margin-bottom: 20px;
}

.texto2 {
    display: flex;
    width: 249px;
    height: 48px;
    top: 288px;
    left: 55px;
    font-family: var(--tipografia-header1);
    font-weight: 400;
    font-size: 22px;
    line-height: 48px;
    margin-top: -50px;
    margin-left: 510px;
    color: #FFFFFF;
}

.im3 {
    display: flex;
    width: 300px;
    height: 300px;
    top: 150px;
    left: 540px;
    border-radius: 10px;
    align-items: center;
    margin-top: -280px;
    margin-left: 800px;
    margin-bottom: 20px;

}

.texto3 {
    display: flex;
    width: 249px;
    height: 48px;
    top: 288px;
    left: 55px;
    font-family: var(--tipografia-header1);
    font-weight: 400;
    font-size: 22px;
    line-height: 48px;
    margin-top: -50px;
    margin-left: 870px;
    color: white;
}

.im4 {
    display: flex;
    width: 300px;
    height: 300px;
    top: 150px;
    left: 540px;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 20px;

}

.texto4 {
    display: flex;
    width: 249px;
    height: 48px;
    top: 288px;
    left: 55px;
    font-family: var(--tipografia-header1);
    font-weight: 400;
    font-size: 22px;
    line-height: 48px;
    margin-top: -60px;
    margin-left: 150px;
    color: white;
}

.im5 {
    display: flex;
    width: 300px;
    height: 300px;
    top: 150px;
    left: 540px;
    border-radius: 10px;
    margin-left: 443px;
    margin-top: -355px;
}

.texto5 {
    display: flex;
    width: 249px;
    height: 48px;
    top: 288px;
    left: 55px;
    font-family: var(--tipografia-header1);
    font-weight: 400;
    font-size: 22px;
    line-height: 48px;
    margin-left: 510px;
    margin-top: -50px;
    color: white;
}

.im6 {
    display: flex;
    width: 300px;
    height: 300px;
    top: 150px;
    left: 540px;
    border-radius: 10px;
    margin-left: 800px;
    margin-top: -275px;
}

.texto6 {
    display: flex;
    width: 249px;
    height: 48px;
    top: 288px;
    left: 55px;
    font-family: var(--tipografia-header1);
    font-weight: 400;
    font-size: 22px;
    line-height: 48px;
    margin-left: 870px;
    margin-top: -50px;
    color: white;
}

.botonx {
    width: 200px;
    height: 52px;
    top: 280px;
    left: 132px;
    border-radius: 26px;
    background-color: transparent;
    border: 1px solid #0D554A;
    color: #0D554A;
    margin-left: 540px;
}

.im1:hover {
    cursor: pointer;
}

.im2:hover {
    cursor: pointer;
}

.im3:hover {
    cursor: pointer;
}

.im4:hover {
    cursor: pointer;
}

.im5:hover {
    cursor: pointer;
}

.im6:hover {
    cursor: pointer;
}

.botonx:hover {
    cursor: pointer;
    background-color: #F5D38E;
    border: #F5D38E;
    color: #093931;
}

#accesorios {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-color: #FAFAFB;
    position: relative;

}

#titulo3 {
    width: 100%;
    max-width: 264px;
    color: #0D554A;
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 140% */
    word-wrap: break-word;
}

@media only screen and (width <=37.5rem) {
    #titulo3 {
        font-size: 10px;
        font-style: normal;
        font-weight: 100;
        line-height: 22px;
        /* 140% */
        word-wrap: break-word;
    }
}


#texto3 {
    width: 100%;
    max-width: 264px;
    color: #424955;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    word-wrap: break-word;

}

@media only screen and (width <=37.5rem) {
    #texto3 {
        font-size: 7px;
        font-style: normal;
        font-weight: 100;
        line-height: 12px;
        /* 162.5% */
        word-wrap: break-word;

    }
}

#boton3 {
    display: inline-flex;
    padding: 12px 59px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: 1px solid #0D554A;
    background: rgba(0, 0, 0, 0.00);

}

@media only screen and (width <=37.5rem) {
    #boton3 {
        display: inline-flex;
        padding: 6px 10px;
        border-radius: 10px;
        font-size: 10px;

    }
}

.listaImagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;

}

.img-uno img {
    display: inline-flex;
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (width <=37.5rem) {
    .listaImagenes {
        display: inline-flex;
        justify-content: flex-start;
    }

    .img-uno img {
        max-width: 90%;
        max-height: 90%;

    }
}

.ourStory {
    max-width: 100%;
    color: #0D554A;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    display: flex;
    flex-direction: column;

    /* 140% */


}

@media only screen and (width <=37.5rem) {
    .ourStory {
        font-size: 20px;
        font-style: normal;
        font-weight: 100;
        line-height: 26px;
        display: flex;
        flex-direction: column;

        /* 140% */


    }
}

@media only screen and (width <=37.5rem) {
    .ourStory {
        font-size: 20px;
        font-style: normal;
        font-weight: 100;
        line-height: 26px;
        display: flex;
        flex-direction: column;

        /* 140% */


    }
}

.img5 img {

    width: 100%;
    height: 100%;
    max-width: 1176px;
    border-radius: 10px;


}



.img5 svg {
    display: flex;
    width: 52px;
    height: 52px;
    padding: 10.5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 26px;
    background: #FFF;
    color: #171A1F;
    position: fixed;

}

@media only screen and (width <=37.5rem) {
    .img5 img {

        max-width: 70%;
        max-height: 70%;
        border-radius: 1rem;


    }

    .img5 svg {
        display: flex;
        width: 1.375rem;
        height: 1.375rem;
        padding: 0.313rem;
        border-radius: 0.813rem;
        position: relative;

    }
}


#footer-completo {
    width: 100%;
    height: 100%;
    max-width: 90rem;
    max-height: 47.25rem;
    flex-shrink: 0;
    flex-shrink: 0;
    background: #093931;

}

.layout-footer {
    width: 100%;
    height: 100%;
    max-width: 90rem;
    max-height: 32.625rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layout-footer img {
    max-width: 100%;
    margin-top: 2rem;
}

.from-people {
    max-width: 100%;
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
    margin-left: 9rem;
    /* 141.667% */
}

@media only screen and (width <=37.5rem) {
    .from-people {
        font-size: 20px;
        font-weight: 200px;
        line-height: 20px;
        margin-left: 1rem;

    }

}

.texto-people {
    max-width: 100%;
    max-width: 264px;
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 9rem;
    /* 162.5% */
}

@media only screen and (width <=37.5rem) {
    .texto-people {
        max-width: 60%;
        margin-left: 1rem;
    }
}

.layout-footer svg {
    display: inline-flex;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.65625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 1.625rem;
    border: 1px solid #EFFDFA;
    background: rgba(0, 0, 0, 0.00);
    position: relative;
    top: 0.5rem;
    right: 7.5rem;
    transform: translate(1rem);

}

@media only screen and (width <=37.5rem) {
    .layout-footer svg {
        display: inline-flex;
        width: 0.3rem;
        height: 0.3rem;
        padding: 0.6rem;
        position: relative;
        top: 0.001rem;
        left: 14rem;
        right: 0.1rem;
        transform: translate(-90%, -90%);

    }

}

.footer-sin-imagen {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: #093931;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;


}

.darling {
    color: #F5D38E;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;


}

.primera-parte li a,
.segunda-parte li a {
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
    text-decoration: none;
    transition: .5s;
    color: #FFFFFF;
    ;
}

.primera-parte ul li,
.segunda-parte ul li {
    list-style-type: none;

}

#titulo-formulario {
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

#texto-formulario {
    color: #FAFAFB;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
}

.tercera-parte-menu input {
    display: inline-flex;
    padding: 7px 132px 6px 12px;
    align-items: center;
    gap: 6px;
    border-radius: 18px 0px 0px 18px;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.00);
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
}

.tercera-parte-menu button {
    display: inline-flex;
    padding: 7px 23.5px 7px 24.5px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 18px 18px 0px;
    background: #F2C66D;
    color: #6B4A09;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
}

.texto-parte-abajo {
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-left: 130px;
    /* 157.143% */
}

.iconos-redes {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: end;

}

@media only screen and (width <=37.5rem) {
    .darling {
        font-size: 10px;
        font-style: normal;
        font-weight: 200;
        line-height: 26px;

    }

    .tercera-parte-menu input {
        width: 50%;
        padding: 3px 13.5px 3px 12.5px;
    }

    .tercera-parte-menu button {
        display: inline-flex;
        max-width: 30%;
        padding: 3px 12.5px 3px 12.5px;

    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .iconos-redes {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: end;

    }

    .texto-parte-abajo {
        text-align: left;
        margin-left: 10px;
    }

    #titulo-formulario {

        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;
        margin-left: 1rem;
        /* 150% */
    }

    #texto-formulario {
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
        margin-left: 1rem;
        /* 166.667% */
    }

}