@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --estilo-1: 'Cormorant Garamond', serif;
    --estilo-2: 'Manrope', sans-serif;
    --color-1: #F5D38E;
    --color-2: #093931;
    width: 1263px;
}

.header{
    height: 450px;
}

.header__nav{
    height: 62px;
    background-color: var(--color-2);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Titulo{
    display: flex;
    font-family: var(--estilo-1);
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    color: var(--color-1);
    width: 95px;
    height: 46px;
    padding: 8px 112px;
    align-items: center;
}

.header__link{
    display: flex;
    font-family: var(--estilo-2);
    color: white;
    font-weight: 400;
    font-size: 14px;
    width: 80px;
    height: 22px;
    line-height: 22px;
    list-style: none;
    justify-content: space-evenly;
    justify-content: center;
}

.nav__real{
    display: flex;
    padding: 10.5px 18.63px;
    padding-right: 132px;
}
.nav__boton{
    display: flex;
    width: 40px;
    height: 20px;
    align-content: space-between;
    justify-content: center;
}

.header__link:hover{
    font-weight: 700px;
    color: var(--color-1);
    cursor: pointer;
    text-decoration: underline var(--color-1) 3px;
}

.nav__boton:hover{
    cursor: pointer;
}

.portada{
    display: flex;
    height: 500px;
    border-radius: 148px;
    justify-content: center;
    align-items: center;
}

.portada img{
    width: 295px;
    height: 295px;
}

.portada__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 60px;
}

.portada__titulo{
    font-family: var(--estilo-1);
    width: 371px;
    height: 48px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #171A1F;
}

.portada__extra{
    font-family: var(--estilo-2);
    font-weight: 400;
    width: 363px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    color: #9095A0;
}

.metodo__pago{
    display: flex;
    justify-content: center;
}

.pago{
    display: flex;
    width: 560px;
    height: 781px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
    justify-content: center;
    position: relative;
    left: 350px;
}

.columna1{
    display: flex;
    list-style: none;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    width: 160px;
    height: 300px;
    left: 20px;
    top: 30px;
}

.columna2{
    display: flex;
    list-style: none;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    width: 72px;
    height: 300px;
    top: 30px;
    left: 300px;
}

.conjunto{
    display: inherit;
    flex-direction: row;
}

.linea{
    display: flex;
    position: relative;
}

.linea2{
    display: flex;
    position: relative;
    top: 370px;
    left: -130px;
}

.compra{
    display: flex;
    position: relative;
    top: 400px;
    right: 200px;
    flex-direction: column;
    height: 600px;
}

.titulo__compra{
    font-family: var(--estilo-2);
    width: 67px;
    height: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #171A1F;
}

.primer__item{
    display: flex;
    flex-direction: row;
    position: relative;

}

.segundo__item{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 20px;
}

.item__compra{
    display: flex;
    width: 92px;
    height: 92px;
}

.titulo__item{
    font-family: var(--estilo-1);
    font-weight: 700;
    width: 133px;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    top: 15px;
    left: 25px;
}

.codigo__item{
    font-family: var(--estilo-2);
    width: 65px;
    height: 18px;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    position: relative;
    top: 45px;
    right: 105px;
}

.numero__items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 28px;
    background-color: lightgrey;
    border-radius: 14px;
    border-color: transparent;
    position: relative;
    top: 65px;
    right: 170px;
}

.boton__final{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 44px;
    position: relative;
    top: 670px;
    right: 360px;
    border-color: transparent;
    border-radius: 22px;
    background-color: #093931;
}

.boton__final a{
    font-family: var(--estilo-2);
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.boton__final:hover{
    cursor: pointer;
    background-color: var(--color-1);
    border-color: #093931;
    
}

.precio__item1{
    display: flex;
    position: relative;
    top: 480px;
    right: 240px;
    height: 22px;
    width: 54px;
    font-family: var(--estilo-2);
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.precio__item2{
    display: flex;
    position: relative;
    top: 580px;
    right: 294px;
    height: 22px;
    width: 54px;
    font-family: var(--estilo-2);
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.barra__bajar{
    display: flex;
    position: relative;
    top: 480px;
    right: 280px;
}

.footer{
    display: flex;
    position: absolute;
    top: 1500px;
    width: 1263px;
    height: 234px;
    background-color: #093931;
}

.subscripcion{
    display: flex;
    position: relative;
    left: 700px;
    flex-direction: column;
    height: 234px;
}

.subscripcion__titulo{
    font-family: var(--estilo-1);
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 215px;
    height: 30px;
    position: relative;
    top: 45px;
}

.titulo__footer{
    display: flex;
    font-family: var(--estilo-1);
    color: #F5D38E;
    font-weight: 400;
    width: 95px;
    height: 46px;
    font-size: 30px;
    line-height: 46px;
    top: 50px;
    position: relative;
    left: 132px;
}

.footer__texto{
    font-family: var(--estilo-2);
    color: white;
    width: 281px;
    height: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    top: 50px;
}


.barra__suscribir{
    display: flex;
    position: inherit;
    width: 269px;
    height: 35px;
    border-radius: 18px 0px 0px 18px;
    border: 1px;
    border-color: white;
    padding-left: 25px;
}

.input__email{
    position: relative;
    top: 90px;
}

.input__email img{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 16px;
    height: 16px;
}

.suscribir{
    position: relative;
    top: 55px;
    left: 268px;
    width: 114px;
    height: 35px;
    border-radius: 0px 18px 18px 0px;
    background-color: #F2C66D;
    border-color: transparent;
}

.suscribir:hover{
    cursor: pointer;
    background-color: transparent;
    border-color:#F2C66D;
    color: #F2C66D;
}

.suscribir a{
    font-family:  var(--estilo-1);
    font-weight: 400;
    width: 66px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
}

.nav__footer1{
    display: flex;
    width: 34px;
    height: 22px;
    position: relative;
    left: 433px;
    font-family: var(--estilo-2);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    list-style: none;
    flex-direction: column;
    color: white;
}

.nav__footer2{
    display: flex;
    width: 34px;
    height: 22px;
    position: relative;
    top: -20px;
    left: 580px;
    font-family: var(--estilo-2);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    list-style: none;
    flex-direction: column;
    color: white;
}

.identificador{
    display: flex;
    position: absolute;
    font-family: var(--estilo-2);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    width: 117px;
    height: 22px;
    color: white;
    left: 132px;
    top: 187px;
}

.redes{
    display: flex;
    flex-direction: row;
    width: 160px;
    height: 30px;
    position: relative;
    top: 70px;
    left: 230px;
    justify-content: space-evenly;
}

.red__social{
    width: 22px;
    height: 22px;
}