@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cormorant Garamond;
}

#footer-completo {
    width: 100%;
    height: 100%;
    max-width: 90rem;
    max-height: 47.25rem;
    flex-shrink: 0;
    flex-shrink: 0;
    background: #093931;

}

.layout-footer {
    width: 100%;
    height: 100%;
    max-width: 90rem;
    max-height: 32.625rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layout-footer img {
    max-width: 100%;
    margin-top: 2rem;
}

.from-people {
    max-width: 100%;
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
    margin-left: 9rem;
    /* 141.667% */
}

@media only screen and (width <=37.5rem) {
    .from-people {
        font-size: 20px;
        font-weight: 200px;
        line-height: 20px;
        margin-left: 1rem;

    }

}

.texto-people {
    max-width: 100%;
    max-width: 264px;
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 9rem;
    /* 162.5% */
}

@media only screen and (width <=37.5rem) {
    .texto-people {
        max-width: 60%;
        margin-left: 1rem;
    }
}

.layout-footer svg {
    display: inline-flex;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.65625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 1.625rem;
    border: 1px solid #EFFDFA;
    background: rgba(0, 0, 0, 0.00);
    position: relative;
    top: 0.5rem;
    right: 7.5rem;
    transform: translate(1rem);

}

@media only screen and (width <=37.5rem) {
    .layout-footer svg {
        display: inline-flex;
        width: 0.3rem;
        height: 0.3rem;
        padding: 0.6rem;
        position: relative;
        top: 0.001rem;
        left: 14rem;
        right: 0.1rem;
        transform: translate(-90%, -90%);

    }

}

.footer-sin-imagen {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: #093931;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;


}

.darling {
    color: #F5D38E;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;


}

.primera-parte li a,
.segunda-parte li a {
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
    text-decoration: none;
    transition: .5s;
    color: #FFFFFF;
    ;
}

.primera-parte ul li,
.segunda-parte ul li {
    list-style-type: none;

}

#titulo-formulario {
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

#texto-formulario {
    color: #FAFAFB;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
}

.tercera-parte-menu input {
    display: inline-flex;
    padding: 7px 132px 6px 12px;
    align-items: center;
    gap: 6px;
    border-radius: 18px 0px 0px 18px;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.00);
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
}

.tercera-parte-menu button {
    display: inline-flex;
    padding: 7px 23.5px 7px 24.5px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 18px 18px 0px;
    background: #F2C66D;
    color: #6B4A09;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
}

.texto-parte-abajo {
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-left: 130px;
    /* 157.143% */
}

.iconos-redes {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: end;

}

@media only screen and (width <=600px) {
    .darling {
        font-size: 10px;
        font-style: normal;
        font-weight: 200;
        line-height: 26px;

    }

    .tercera-parte-menu input {
        width: 50%;
        padding: 3px 13.5px 3px 12.5px;
    }

    .tercera-parte-menu button {
        display: inline-flex;
        max-width: 30%;
        padding: 3px 12.5px 3px 12.5px;

    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .iconos-redes {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: end;

    }

    .texto-parte-abajo {
        text-align: left;
        margin-left: 10px;
    }

    #titulo-formulario {

        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;
        margin-left: 1rem;
        /* 150% */
    }

    #texto-formulario {
        font-size: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
        margin-left: 1rem;
        /* 166.667% */
    }

}